.content {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.row img {
    width: 10%;
    height: auto;
    margin-right: 10px;
}

.row p {
    width: 45%;
}
