---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    
    <!-- Add the JavaScript for adjusting font size based on DPR -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var dpr = window.devicePixelRatio || 1; // Get the device pixel ratio
        var baseFontSize = 16; // Define a base font size in pixels
        var adjustedFontSize = baseFontSize * dpr; // Adjust the font size based on DPR

        // Set a maximum font size limit if necessary
        if (adjustedFontSize > 24) adjustedFontSize = 24;

        document.documentElement.style.fontSize = adjustedFontSize + "px";
      });
    </script>

  </body>
</html>
